<div class="card">
  <div class="card-header d-flex justify-content-center">{{ title }}</div>
  <div class="card-body">
    <div class="d-flex flex-row justify-content-around mt-2">
      <p class="card-text">compra</p>
      <p class="card-text">venta</p>
    </div>
    <div class="d-flex flex-row justify-content-around mt-2">
      <p class="card-text">{{ buy }}</p>
      <p class="card-text">{{ sell }}</p>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center">{{ currentDate }}</div>
</div>
