<div class="container">
  <div class="row">
    <div class="col-4">
      <ul class="d-flex flex-column justify-content-center no-pdf">
        <li class="d-block text-left">
          <img
            src="../../../assets/images/loguito.png"
            class="img-thumbnail border-none"
          />
          Banco CiberBoot
        </li>
        <li class="d-block text-center mb-15">Nosotros</li>
        <li class="d-block text-center mb-15">Tasas e Intereses</li>
        <li class="d-block text-center mb-15">
          Infromación sobre Cuentas Bancarios
        </li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="d-flex flex-column justify-content-center no-pdf">
        <li class="d-block text-center mb-15">Banco CiberBoot</li>
        <li class="d-block text-center mb-15">Nosotros</li>
        <li class="d-block text-center mb-15">Tasas e Intereses</li>
        <li class="d-block text-center mb-15">
          Infromación sobre Cuentas Bancarios
        </li>
      </ul>
    </div>
    <div class="col-4">
      <ul class="d-flex flex-column justify-content-center no-pdf">
        <li class="d-block text-center mb-15">Banco CiberBoot</li>
        <li class="d-block text-center mb-15">Nosotros</li>
        <li class="d-block text-center mb-15">Tasas e Intereses</li>
        <li class="d-block text-center mb-15">
          Infromación sobre Cuentas Bancarios
        </li>
      </ul>
    </div>
  </div>
</div>
