<app-banner></app-banner>
<div class="container mt-4 mb-5">
  <div class="row">
    <div class="col-4">
      <app-card
        title="DÓLARES $"
        buy="S/.3.50"
        sell="S/.3.50"
        currentDate="Fecha 01/06/2021"
      ></app-card>
    </div>
    <div class="col-4">
      <app-card
        title="Euros €"
        buy="S/.3.50"
        sell="S/.3.50"
        currentDate="Fecha 01/06/2021"
      ></app-card>
    </div>
    <div class="col-4">
      <app-card
        title="YENES ¥"
        buy="S/.3.50"
        sell="S/.3.50"
        currentDate="Fecha 01/06/2021"
      ></app-card>
    </div>
  </div>
</div>
